@import "../../styles/colors.scss";

.iconWrap {
  padding: 9px;
  border-radius: 100%;
  display: flex;
  box-shadow: rgba( $primaryDark, 0.24) 0px 3px 8px;


  &.red {
    background-color: $invalid;
  }
  
  &.green {
    background-color: $valid;
  }

}