@import '../../styles/colors.scss';

.errorWrap{
  display:flex;
  flex-direction: column;
  background-color: $white;
  padding: 40px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba( $primaryDark, 0.24) 0px 3px 8px;

  span {
    font-size: 20px;
    margin-bottom: 24px;

  }
}